:root {
    --primary-color: #757575;
    --secondary-color: #2196F3;
    --bgd-color: #FFFFFF;


}

/* Body */

body {
    color: var(--primary-color);
    background-color: var(--bgd-color);
    font-family: "Roboto";
    font-style: normal;
}

/* Header */

.logo {
    color: var(--secondary-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-decoration: none;
}
.studio {
    color: #000000;
}

.portfolio-hidden {
    
}






/* заголовки color: #212121; */
/*  цвет hero color: #FFFFFF; */
/*  background: #FFFFFF; */
/* primary color #2196F3*/
/* secondary color  */
/* color text */
/* color title */
/* bakcground color */
/* color link */

/* logo, link color #000000; #2196F3 */
/* btn color #FFFFFF background: #2196F3; */
/* font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */
