:root {
    --primary-color-text: #757575;
    --accent-color: #2196F3;
    --bgd-color: #FFFFFF;
    --bgd-color-footer: #2F303A;
    --color-link: #212121;

}

/* Body */

body {
    color: var(--primary-color-text);
    background-color: var(--bgd-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}
.list {
    list-style: none;
}

.btn-nav {
    color: red;
}
/* Header */

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
}
.logo span {
    color: #000000;
}

.portfolio-hidden {
    
}

/* Portfolio */


/* Footer */
.footer {
    background-color: var(--bgd-color-footer);
}
span.studio,
.adress-text {
    color: var(--bgd-color);
}
.auth-link {
    color: rgba(255, 255, 255, 0.6);
}





/* заголовки color: #212121; */
/*  цвет hero color: #FFFFFF; */
/*  background: #FFFFFF; */


/* logo, link color #000000; #2196F3 */
/* btn color #FFFFFF background: #2196F3; */
/* font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */
